body {
    font-family: Arial, sans-serif;
    width: 10rem;
}

#options-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#options-list li {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0.25rem 0 0.25rem 0;
}

#options-list li:hover {
    background-color: #e0e0e0;
}